[submodule "thirdparty/llvm-project"]
	path = thirdparty/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = 7cbf1a2591520c2491aa35339f227775f4d3adf6
[submodule "thirdparty/picolibc"]
	path = thirdparty/picolibc
	url = https://github.com/picolibc/picolibc.git
	branch = 93b5d5f2ad44867b60267417cd6d6250dbf68983
[submodule "thirdparty/cmsis-svd"]
	path = thirdparty/cmsis-svd
	url = https://github.com/posborne/cmsis-svd.git
[submodule "thirdparty/atmel-atdf"]
	path = thirdparty/atmel-atdf
	url = https://github.com/waj334/atmel-atdf.git
